body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

#navbar ul {
    list-style: none;
    padding: 0;
}

#navbar ul li {
    display: inline;
    margin-right: 20px;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

#navbar a:hover {
    color: #4CAF50;
}

section {
    padding: 2em;
}

h1, h2 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

#project-detail {
    padding: 2em;
}

#project-detail h1 {
    color: #333;
}

/* Ensure the images fit within the page */
#project-detail img {
    max-width: 100%;
    height: auto;
}

/* Style for 'Back to Portfolio' link */
header a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
}

header a:hover {
    color: #333;
}

/* Responsive Design */
@media (max-width: 600px) {
    #navbar ul li {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
}

/* Simple Animations */
button:hover {
    animation: pulse 0.3s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
